<h2>Welcome <%= session[:user_jwt]["value"]["email"] %></h2>
<p>
<%= render "shared/webauthncta" %>
</p>
</main>
</div>

<div class="panel">
  <main>

<h2>Download Your Ebook</h2>
<p>
<a download href='<%= asset_path("complete_list_oauth2_grants.pdf") %>?utm_medium=internal&utm_source=ebookapp&utm_campaign=oauth2-grants'><img src='<%= asset_path("completelistgrants.png")%>' width="150" /></a>
<a download href='<%= asset_path("login_authentication_workflows.pdf") %>?utm_medium=internal&utm_source=ebookapp&utm_campaign=auth_workflows_paper'><img src='<%= asset_path('loginauthworkflows.png')%>' width="150" /></a>
<a download href='<%= asset_path("the-modern-guide-to-oauth.pdf") %>?utm_medium=internal&utm_source=ebookapp&utm_campaign=oauth_ebook'><img src='<%= asset_path('oauthebook.png')%>' width="150" /></a>
</p>
