<h2>Welcome <%= session[:user_jwt]["value"]["email"] %></h2>
<p>
<%= render "shared/webauthncta" %>
</p>
</main>
</div>

<div class="panel">
  <main>

<h2>Download Your Ebook</h2>
<p>
<a download href='<%= asset_path("complete_list_oauth2_grants.pdf") %>?utm_medium=internal&utm_source=ebookapp&utm_campaign=oauth2-grants'><img src='<%= asset_path("completelistgrants.png")%>' width="150" /></a>
<a download href='<%= asset_path("login_authentication_workflows.pdf") %>?utm_medium=internal&utm_source=ebookapp&utm_campaign=auth_workflows_paper'><img src='<%= asset_path('loginauthworkflows.png')%>' width="150" /></a>
<a download href='<%= asset_path("the-modern-guide-to-oauth.pdf") %>?utm_medium=internal&utm_source=ebookapp&utm_campaign=oauth_ebook'><img src='<%= asset_path('oauthebook.png')%>' width="150" /></a>
</p>
</main>
</div>

<div class="panel">
  <main>

<h2>Links</h2>
<table>
<tr> <th> Features </th> <th> Hosting </th> </tr>
<tr> <td> <a href='https://fusionauth.io/features/authentication'>Authentication</a> </td> <td> <a href='https://fusionauth.io/platform/self-hosting'>Self-hosted</a> </td> </tr>
<tr> <td> <a href='https://fusionauth.io/features/passwordless'>Passwordless</a> </td> <td> &nbsp; </td> </tr>
<tr> <td> <a href='https://fusionauth.io/features/biometric-authentication'>Biometric authentication</a> </td> <td> <a href='https://fusionauth.io/platform/fusionauth-cloud'> FusionAuth Cloud </a> </td> </tr>
<tr> <td> <a href='https://fusionauth.io/features/single-sign-on'>Single Sign-on</a> </td> <td> &nbsp; </td> </tr>
<tr> <td> &nbsp; </td> <td> <b><a href='https://fusionauth.io/pricing'>Pricing</a></b> </td> </tr>
<tr> <td> <b><a href='https://fusionauth.io/docs/'>Technical Docs</a></b> </td> <td> &nbsp; </td> </tr>
<tr> <td> &nbsp; </td> <td> <b><a href='https://fusionauth.io/docs/v1/tech/5-minute-setup-guide'>5-Minute Setup Guide</a></b> </td> </tr>
</table>
