<h4>Welcome <%= session[:user_jwt]["value"]["email"] %></h4>
<p>
<%= render "shared/webauthncta" %>
</p>
</main>
</div>

<div class="panel">
  <main>

<h4>Downloads</h4>
<p>
<a download href='<%= asset_path("complete_list_oauth2_grants.pdf") %>'><img src='<%= asset_path("completelistgrants.png")%>' width="160" /></a>
<a download href='<%= asset_path("login_authentication_workflows.pdf") %>'><img src='<%= asset_path('loginauthworkflows.png')%>' width="160" /></a>
<a download href='<%= asset_path("the-modern-guide-to-oauth.pdf") %>'><img src='<%= asset_path('oauthebook.png')%>' width="160" /></a>
</p>
