<h4>Welcome to the FusionAuth Demo application</h4>
<p>
<% if session[:user_jwt].nil? %>
Please <%= link_to "register", register_path %> or <%= link_to "login", login_path %>. 
<% else %>
Please <%= link_to "logout", logout_path %> or visit <%= link_to "the books page", articles_path %>.
<% end %>

<p>
<%= render "shared/webauthncta" %>
</p>
