<!DOCTYPE html>
<html>
  <head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5P7VLHG');</script>
<!-- End Google Tag Manager -->

    <title>Get Yer Ebooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

<body class="app-sidebar-closed">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P7VLHG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<main>
<header class="app-header">
    <div class="right-menu">
      <nav>
        <ul>
            <li><a href="/account/logout?client_id=eafb0310-8985-4976-83fb-2af78d601abb" title="Logout"><i class="fa fa-sign-out"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>

<main class="page-body container">
  <div class="row center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
<div class="panel">
  <main>

<% if session[:user_jwt].nil? %>
<p>
<%= link_to "register", register_path %> | <%= link_to "login", login_path %>
<% else %>
<%= link_to "home", root_path %> | <%= link_to "books", articles_path %> 
<% unless session[:used_webauthn] %>
| <a href='<%= Rails.configuration.x.oauth.idp_url%>/account/webauthn/?client_id=<%=Rails.configuration.x.oauth.client_id%>'>set up your WebAuthn passkey</a>
<% end %>
| <%= link_to "logout", logout_path %>
</p>
<% end %>

<%= yield %>

  </main>
</div>
    </div>
  </div>
<div class="row center">
  <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4" style="text-align: right;">
<!-- need this to keep demo application big -->
      
  </div>
</div>


</main>













<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P7VLHG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>

</html>


